################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/TaskManager/v16
/API/TaskManager.API/.vs/TaskManager.API/DesignTimeBuild

bin/
obj/
*.suo
*.user

.vs/
