.layout {
    height: 100vh;
    background-color: $layout_background;
}

// .header {
//     position: absolute;
//     width: 100vw;
//     left: 0px;
//     background: #ffffff;
//     box-shadow: 0px -5px 26px 10px #bfd5ff91;
// }

.sidebar {
    transition: left 0.4s;
    @apply bg-white fixed left-0 w-64 h-screen;
}

@media (max-width: 768px) {
    .sidebar {
        left: -18rem;
    }
}
