.section_list {
    @apply py-3 mt-2 w-full h-[80vh] rounded-md flex items-start gap-7;

    .section_item {
        @apply bg-white rounded-lg min-w-[280px] max-h-[80vh] w-72 flex
                flex-col;

        .section_header {
            @apply px-3 pt-3 w-full flex flex-row items-center justify-between;

            .section_name {
                @apply p-1 text-lg font-semibold cursor-text overflow-hidden whitespace-nowrap
                    overflow-ellipsis;
            }

            .section_menu {
                @apply h-7 w-7 p-1 hover:bg-layout_background cursor-pointer rounded-lg;
            }

            &::before {
                content: '';
                @apply fixed inset-0 pointer-events-none;
            }

            &:hover::before {
                @apply border shadow-lg rounded-lg;
            }
        }

        .tasks {
            @apply px-3 overflow-hidden hover:overflow-y-auto;
        }

        .add_task {
            @apply p-3 mt-2 mx-auto;

            .add_task_item {
                @apply cursor-pointer rounded-lg w-56 flex items-center h-10 justify-center
                        text-sm space-x-1 bg-active_background hover:text-primary;
            }

            .add_task_form {
                @apply min-w-[256px] w-64 flex flex-col mb-5;

                .add_task_form_top {
                    @apply border rounded-md p-1 flex flex-col;

                    .form_control {
                        @apply rounded-md p-2 text-base m-1 w-auto border-none shadow-none outline-none;
                    }
                    .add_task_bottom {
                        @apply flex items-center justify-between;

                        .add_task_icon {
                            @apply cursor-pointer w-6 h-6 p-1 rounded-lg hover:text-primary 
                                hover:bg-active_background;
                        }

                        .add_task_actions {
                            @apply px-2 flex text-gray-400;

                            .due_icon {
                                @apply flex items-center justify-center cursor-pointer rounded-lg hover:text-primary 
                                    hover:bg-active_background;

                                .task_bottom_text {
                                    @apply pr-1 text-xxs font-bold text-gray-400 hover:text-primary;
                                }
                            }

                            .ant-picker {
                                @apply p-0 cursor-pointer;
                                .ant-picker-input {
                                    @apply hover:text-primary;

                                    input {
                                        @apply hidden w-0;
                                    }

                                    .ant-picker-suffix {
                                        @apply m-0;
                                    }
                                }
                            }
                        }
                        .add_task_assign {
                            @apply px-2 flex text-gray-400;
                        }
                    }
                }
                .add_task_form_button {
                    @apply flex p-2;

                    .add_task_button {
                        @apply rounded-md shadow-sm text-xs bg-primary text-white border-none;
                    }
                }
            }
        }
    }

    .add_section_item {
        @apply cursor-pointer py-3 px-5 text-text_color hover:text-primary bg-white space-x-3
                rounded-lg min-w-[256px] w-64 flex;
    }

    .add_section_form {
        @apply min-w-[256px] w-64 flex flex-col mb-5;

        .form_control {
            @apply rounded-md p-2 text-base m-1 w-auto;
        }

        .add_section_form_button {
            @apply flex p-1;

            .add_section_button {
                @apply rounded-md shadow-sm text-xs bg-primary text-white border-none;
            }
        }
    }
}
