.onboard {
    background-color: rgb(242, 242, 242);
    background-image: url(../assets/images/bg.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    @apply bg-gray-100 h-screen w-screen px-36 flex items-center justify-between -lg:justify-center -lg:p-4;

    .onboard_image_left {
        @apply w-2/3 -lg:w-0 flex justify-center;

        .onboard_image {
            @apply w-[450px];
        }
    }

    .onboard_frame {
        @apply w-1/3 -lg:w-[400px] flex flex-col;

        .onboard_form {
            @apply bg-white w-full px-6 py-8 -md:py-3 rounded shadow-md text-black overflow-hidden;

            .heading {
                font-family: 'Roboto', sans-serif;
                @apply mb-8 text-3xl text-center font-bold flex flex-col items-center;

                .onboard_logo {
                    @apply mb-5;
                }
            }

            .form_field {
                @apply flex flex-col mb-3;
            }

            .form_field label,
            .form_field p {
                @apply flex font-semibold text-sm mx-2 my-1;
            }

            .form_control {
                @apply border w-full p-2 rounded;
            }

            .form_button {
                @apply mt-3 w-full text-center py-3 rounded bg-primary 
                    text-white hover:bg-blue-500 transform active:translate-y-0.5;
            }

            .terms {
                @apply text-center text-sm text-gray-500 mt-4;

                .link {
                    @apply mx-1 hover:underline text-blue-500;
                }
            }
        }
        .change_onboard {
            @apply mt-3;

            .terms {
                @apply text-center text-sm text-gray-500;

                .link {
                    @apply mx-1 hover:underline text-blue-500;
                }
            }
        }
    }
}
